html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('/1347937.png');
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  overflow-x: hidden;
}


/* .error-button {
  margin: 2rem auto;
  display: block;
  padding: 0.75rem 1.5rem;
  background-color: #dc3545;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.error-button:hover {
  background-color: #b02a37;
} */


.main-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: rgb(240, 242, 245, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.left-panel {
  width: 900px;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
  overflow-y: auto;
}

.right-panel {
  flex: 1;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 80vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
}